*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #0984e3;
}
header nav ul li{
    display: inline-block;
    text-align: center;
    border-right: 1px solid white;
    font-size: 24px;
    margin: -3px;

  
    
}
header nav ul li:nth-child(1){
    border-left: 1px solid white;
}

header nav ul {
    text-align: center;
}
header nav ul li a{
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    
   
}
header nav ul li:hover> a{
    background-color: #44bd32;
    color:white;

}
header nav ul li{
    position: relative;

}
    /* dropdwon */
header nav ul li ul{
    position: absolute;
    top: 95%;
    left: 0;
    width: 200px;
   background-color: #487eb0;

 
}
header nav ul li ul li{
    display: block;
    margin-left: 0;
    border-top: 1px solid #ddd;
   
}
header nav ul li ul a{
    border: none;
}

header nav ul li ul {
    display: none;
    transition-duration: 0.3s;
}

header nav ul li:hover ul{
    display: block;
   
  
}


header nav ul li ul li:first-child {
border: none;}

header nav ul li ul:last-child{

  border-top: 1px solid #ddd;
   
}
    /* pronduct card */
    .main .thumb img {
        width: 100%;
    }
    
    .main {
        width: 500px;
        margin: 0 auto;
    }
    